body{max-width: 1440px;}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav div button{padding: 10px;border-radius: 10px;width: 100px;background-color:#4E47FF;color: white;font-weight: 600;height: 40px;align-items: center;margin: 100px;}
nav img{width: 10%;}
nav div{display: flex;justify-content: space-between;align-items: center;margin: 0 100px;}
.heading{font-size: x-large;text-align:center;justify-content: center;display: flex;}
.bg{background-image: url(Hero-bg.png);height: 500px;}
.stay{display: flex;justify-content: center;margin: 20px;}
.stay-button{background-color:#4E47FF;color: white;font-weight: 600;height: 40px;align-items: center;border-radius: 10px;width:130px ;}
.section1-heading{font-weight: 700;font-size: 40px;}
.p{color: rgba(0, 0, 0, 0.521);}
.btn{background-color:#4E47FF;color: white;font-weight: 600;height: 40px;align-items: center;border-radius: 10px;width:200px ;}
.flex{display: flex;justify-content: space-around;margin: 100px;}
.flex img{border-radius: 20px;}